body {
  text-align: center;
  background: rgba(119, 141, 169, 1);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: rgba(231, 236, 239, 1);
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; 
}

li a {
  display: block;
  width: 25%;
  background-color: rgba(231, 236, 239, 1);
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: rgba(28, 37, 65, 1);
  color: white;
}

.active {
  background-color: rgba(104, 14, 75, 1);
  color: white;
}

/*
$color1: hsla(120%, 100%, 0%, 1);
$color2: hsla(225%, 40%, 18%, 1);
$color3: hsla(214%, 23%, 56%, 1);
$color4: hsla(203%, 20%, 92%, 1);
$color5: hsla(319%, 76%, 23%, 1);


$color1: rgba(0, 1, 0, 1);
$color2: rgba(28, 37, 65, 1);
$color3: rgba(119, 141, 169, 1);
$color4: rgba(231, 236, 239, 1);
$color5: rgba(104, 14, 75, 1);
*/
